#awesome {
  padding: 80px 0;
}
.card {
  width: 350px;
  margin: 0 15px;
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-15px);
  background-color: rgba(0, 0, 0, 0.02);
  cursor: grab;
}
.card__img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.card__img img {
  border: 1px solid #e72424;
  width: 70px;
  height: 70px;
  object-fit: scale-down;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}
.card__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #333333;
}

.card__text p {
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}
@media (max-width: 768px) {
  #awesome {
    padding: 60px 0;
  }
  .card {
    margin-bottom: 40px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card {
    width: auto;
  }
}
