#awesome {
  padding: 80px 0;
}
.card {
  width: 350px;
  margin: 0 15px;
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-15px);
  background-color: rgba(0, 0, 0, 0.02);
  cursor: grab;
}
.card__contant {
}
.card__img {
  width: 70px;
  height: 70px;
  border: 1px solid #e72424;
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img img {
}
.card__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #333333;
}

.card__text p {
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}
