#footer {
  padding: 30px 0 15px;
  background-color: #000;
}
.footer__social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px 18px;
}
.footer__social-icon {
  margin: 0 15px;
}
.footer__social-icon a {
  font-size: 23px;
}

.copy-rights {
  margin: auto;
  max-width: 900px;
}
.copy-rights p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .footer__social-icon {
    margin: 0;
  }
  .footer__social-icons {
    justify-content: space-evenly;
    margin: 0 0 18px 0;
  }
}
@media (max-width: 575px) {
  .footer__social-icons {
    justify-content: space-between;
  }
}
