#partfolio {
  padding: 80px 0;
}
.underscore {
  height: 2px;
  width: 64px;
  background-color: #e72424;
  margin: 0 auto 34px;
}
.partfolio__text {
  margin-bottom: 68px;
}
.partfolio__text p {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #86878b;
  font-size: 14px;
  text-align: center;
}
.partfolio__wrap {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 350px;
}
.card__contant {
}
.card__img {
  width: 70px;
  height: 70px;
  border: 1px solid #e72424;
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img img {
}
.card__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 700;
}

.card__text p {
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}
