#pricing {
  padding: 80px 0;
  background-color: #f5f5f5;
}
.pricing-list {
  width: 340px;
  margin: 0 15px;
  text-align: center;
}
.pricing-list__title {
  background-color: #333333;
  margin-bottom: 2px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 9px 0 14px 0;
  transition: 0.1s;
}

.pricing-list__price {
  background-color: #333333;
  margin-bottom: 2px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  padding: 27px 0 32px 0;
  transition: 0.1s;
}

.pricing-list__text {
  background-color: #333333;
  margin-bottom: 4px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  padding: 18px 0 13px 0;
  transition: 0.1s;
}

.pricing-list__items {
  margin-bottom: 4px;
  color: #86878b;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background: #ffffff;
  padding: 9px 0 12px 0;
  transition: 0.1s;
}
.pricing-list__items:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .pricing-list__title:hover {
    transform: translateX(-15px);
  }
  .pricing-list__price:hover {
    transform: translateX(15px);
  }
  .pricing-list__text:hover {
    transform: translateX(-15px);
  }
  .pricing-list__items:nth-child(odd):hover {
    transform: translateX(-15px);
  }
  .pricing-list__items:nth-child(even):hover {
    transform: translateX(15px);
  }
}

@media (max-width: 768px) {
  #pricing {
    padding: 40px 0;
  }
  .pricing-list {
    width: 75%;
    margin: 0 auto 30px;
  }
  .pricing-list:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .pricing-list {
    width: auto;
    margin: 0 15px 30px;
  }
}
