#social {
  padding: 14px 0px 17px;
  background-color: #f8efef;
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.social-information {
  width: 365px;
  margin: 0 15px;
}
.social__title h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}
.social__title {
  margin-bottom: 14px;
}
.social__text p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}
.social-icons {
  flex-grow: 1;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.social-icons__fa-brands a {
  font-size: 42px;
}

@media (max-width: 992px) {
  .social-media {
    flex-direction: column;
    margin: 0;
  }
  .social-information {
    text-align: center;
    margin: 0 0 20px 0;
    width: auto;
  }
  .social-icons {
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
  }
  .social__text p {
    width: auto;
  }
}
@media (max-width: 768px) {
  .social-icons__fa-brands a {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .social-icons__fa-brands a {
    font-size: 27px;
  }
  .social-icons {
    justify-content: space-between;
  }
}
